/*? to set background color of an element */
body {
   width: 100%;
   height: 100vh;
   background-color: lightblue;
   /* background-image: url("https://images.pexels.com/photos/32279573/pexels-photo-32279573.jpeg"); */
   /* background-repeat: no-repeat; */
   background-repeat: no-repeat;
   background-size: contain;/*Cover*/
   /* background-size: 100% 100%; */
   background-position: top ;/* left botton and right bottom etc*/
   background-attachment: scroll;
}
#Container , nav, ul{
   list-style: none;
   align-items: center;
   display: flex;
   gap: 10px;
   background-image: url("https://images.pexels.com/photos/7348836/pexels-photo-7348836.jpeg");
   /* background-size: contain; This makes the background image fit completely inside the container, so the whole image is visible. */
   background-size: cover;/*This makes the background image fill the entire container,*/
   background-repeat: no-repeat;
   background-image: url("");
}

/** ------------------------------------- -->
/**  INTERVIEW QUESTIONS  
/** ---------------------------------------- -->

/*? 1: How can you set a background image for an element using CSS? */
/* You can set a background image using the background-image property, like this: */
/* background-image: url('image.jpg'); */

/*? 2: How can you make a background image cover the entire element without distortion? */
/* You can use background-size: cover; to make the background image cover the entire element while maintaining its aspect ratio. This ensures that the image fills the container without distortion. */

/*? 3: How can you apply multiple background images to a single element? */
/* background-image property and using a comma to separate them. For example: */
/* css background-image: url('image1.jpg'), url('image2.jpg'); */

/*? 4: What is the property that is used for controlling image-scroll? */
